.style-header {
  display: flex;
  padding: 0px 52px 20px 53px;
  justify-content: center;
  align-items: center;
  background: var(--dark-blue, #005564);
  color: white;
}

.style-article-title {
  padding-bottom: 20px;
}

.style-article-title h2 {
  transition: color 0.2s 0.1s ease-in-out;
}

.style-product {
  background: var(--green, #a0d187);
  transition: background 0.2s 0.1s ease-in-out;
}

.style-footer {
  background: var(--light-blue, #c0d9d9);
  padding: 40px 50px;
}

.style-footer-title {
  padding-bottom: 20px;
}

.style-product.productOnion.is-active {
  background: var(--red, #cf9697);
}

.style-product img {
  transition: transform 0.2s 0.1s ease-in-out;
}

.style-product.productOnion.is-active img,
.style-product.productJalapeno.is-active img,
.style-product.productClassic.is-active img {
  transform: rotate(-25deg);
  animation: rotate 2s 2s;
}

.style-product.productClassic.is-active {
  background: var(--light-blue, #c0d9d9);
}

.style-footer-title.is-active h2 {
  color: white;
}
